body {
    height: 100vh;
    margin: 0;
    text-align: center;
    /* border: 10px solid black; */
}

.name {
    color: rgb(255, 255, 255);
    font-family: "Raleway", Arial, sans-serif;
    font-size: 1.5rem;
    font-weight: lighter;
    margin: 0;
    padding: 0.5rem 1rem;
    position: fixed;
    top: 0;
    z-index: 2;
}

ul {
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 1;
}

li {
    color: white;
    display: block;
    font-family: "Raleway", Arial, sans-serif;
    font-size: 1.5rem;
    margin: 0 2rem 0 0;
    padding: 0.5rem 1rem;
}

li a {
    color: white;
    text-decoration: none;
    transition: background-color .5s;
}

li a:hover {
    opacity: 0.7;
}

.main-container {
    perspective: 1px;
    transform-style: preserve-3d;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
    border: 5px solid black;
}

.parallax-container {
    background:
        linear-gradient(
            rgba(0, 0, 0, 0.4),
            rgba(0, 0, 0, 0.6)
        ),
        url('maxim-melnikov-69938-unsplash.jpg');
    height: 100vh;
    width: 100vw;
    display: block;
    top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: relative;
    z-index: -1;
    min-height: 47rem;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.content-container {
    background: rgba(232,232,232,1);
    display: block;
    position: relative;
    /* border: 2px solid yellow; */
}

h2 {
    font-family: "Raleway", Arial, sans-serif;
    font-size: 3rem;
    font-weight: bolder;
    margin: 0;
    padding: 3rem;

}

.image {
    background: rgba(100, 225, 0, 1);
    display: flex;
    align-content: center;    
    height: 30rem;
    margin: 0 10rem;
    /* width: 100vw; */
    /* border: 2px solid black; */
}

.image img{
    max-height: 15rem;
    max-width: 15rem;
    position: relative;
}

.portfolio {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 46vh 46vh;
}

.port-item {
    /* padding: 4rem; */
    margin: 3rem 10rem;
}

.port-item1 {background: #1acb9c;}
.port-item2 {background: #f1c40f;}
.port-item3 {background: #9b59b6;}
.port-item4 {background: #e74c3c;}

.contact {
    background: purple;
    height: 30rem;
    margin: 0 10rem;
}

.footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #efefef;
    text-align: right;
}
