@import url('https://fonts.googleapis.com/css?family=Quicksand');

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

.page {
    width: 100%;
    height: 100vh;
}

.navbar {
    /* border-bottom: 1px solid black; */
    position: fixed;
    top: 0;
    width: 100%;
}

.flex-nav {
    align-items: center;
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    font-family: 'Quicksand', sans-serif;
    font-size: 0.2rem;
    justify-content: flex-end;
    list-style-type: none;
    margin: 0;
    padding: 1rem 10%;
    width: 100%;
}

.logo {
    height: 1.5rem;
    margin-right: auto;
    width: 1.5rem;
}

.flex-nav a {
    color: rgb(169,169,169);
    display: block;
    float: right;
    font-size: 5em;
    padding: 0.2rem 1.5rem 0 0;
    text-decoration: none;
}

.flex-nav a:hover {
    color: 	rgb(56,56,56);
}

#landing-page {
    background: url('./images/landing-holder.png');
    background-color: rgb(10, 10, 53);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

#about {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.about-flex {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
}

.q-a {
    border: 1px solid black;
    display: flex;
    height: 20rem;
    justify-content: center;
    width: 10rem;
}

.q-a i {
    font-size: 2rem;
}

.experience {
    border: 1px solid black;
    height: 35rem;
    margin: 5rem;
    width: 40rem;
}

.about-contact {
    border: 1px solid black;
    height: 20rem;
    width: 10rem;
}

#projects {
    align-content: center;
    background: rgba(244,246,248,1);
    display: flex;
    flex-direction: column;
    font-family: 'Quicksand', sans-serif;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

#projects p {
    font-size: 2.5rem;
    padding: 0 0 2rem 0;
    margin: 0;
    text-align: center;
}

#projects .project-cards .flashcards .flashcards-backface .flashcard-title {
    color: #000;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.5rem;
    height: auto;
    padding: 1rem 0;
    text-align: center;
    width: 20rem;
}

#projects .project-cards .flashcards .flashcards-backface .stack-text {
    font-family: 'Quicksand', sans-serif;
    font-size: 1rem;
    padding: 0.5rem 0;
    position: absolute;
    top: 1rem;
}

.project-cards {
    align-items: flex-start;
    display: flex;
    justify-content: space-evenly;
    padding: 0 10.5rem;
}

.flashcards, .notflix {
    height: 20rem;
    overflow: hidden;
    position: relative;
    width: 20rem;
    z-index: 0;
}

.flashcards figure, .notflix figure {
    height: 20rem;
    margin: 0;
    width: 20rem;
}

.flashcards figure img, .notflix figure img {
    height: 20rem;
    position: relative;
    transition: 0.8s ease-in-out;
    vertical-align: middle;
    -webkit-transition: 0.8s ease-in-out;
    width: auto;
    z-index: -1;
}

.flash-front:hover, .bank-front:hover, .notflix-front:hover {
    background:
        -webkit-radial-gradient(
            rgba(255,255,255, 0.7),
            goldenrod
    );
    z-index: 0;
}

.flashcards figure:hover img, .bank figure:hover img, .notflix figure:hover img {
    transform: scale(1.1);
}

.flash-hover {
    align-items: center;
    display: flex;
    flex-direction: column;
    left: 2rem;
    margin: 0;
    position: absolute;
    top: 3rem;
    transition: all 0.5s ease-in-out ;
    -webkit-transition: all 0.5s ease-in-out ;
    z-index: 1;
}

.bank-hover {
    align-items: center;
    display: flex;
    flex-direction: column;
    left: 0.7rem;
    position: absolute;
    top: 6rem;
    transition: all 0.5s ease-in-out ;
    -webkit-transition: all 0.5s ease-in-out ;
    z-index: 1;
}

.notflix-hover {
    align-items: center;
    display: flex;
    flex-direction: column;
    left: 1rem;
    position: absolute;
    top: 3rem;
    transition: all 0.5s ease-in-out ;
    -webkit-transition: all 0.5s ease-in-out ;
    z-index: 1;
}

.flash-hover h2, .flash-hover h4, .bank-hover h2, .bank-hover h4, .notflix-hover h2, .notflix-hover h4 {
    background-color: transparent;
    filter: alpha(opacity=0);
    margin: 1rem 0;
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    top: 3rem;
}

.flash-hover:hover h2, .flash-hover:hover h4, .bank-hover:hover h2, .bank-hover:hover h4, .notflix-hover:hover h2, .notflix-hover:hover h4 {
    filter: alpha(opacity=1);
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.flash-hover a img, .notflix-hover a img, .bank-hover a img {
    height: auto;
    margin: 1rem 0 0 0;
    width: 3rem;
}

.bank {
    height: 26rem;
    overflow: hidden;
    position: relative;
    width: 21rem;
    z-index: 0;
}

.bank figure {
    height: auto;
    margin: 0;
    width: 21rem;
}

.bank figure img {
    position: relative;
    transition: 0.8s ease-in-out;
    vertical-align: middle;
    -webkit-transition: 0.8s ease-in-out;
    z-index: -1;
}
