.logo {
    flex: 1 1 auto;
    text-align: left;
}
  
.logo a svg {
    fill: goldenrod;
    height: 2.5rem;
    width: auto;
}
  
.logo a:hover svg {
    fill: #000;
}

.link {
    color: goldenrod;
    flex: 1 1 auto;
    margin: 1rem;
    text-decoration: none;
}
