body {
    height: 100vh;
}

.container {
    align-items: center;
    background: blueviolet;
    display: flex;
    height: 30rem;
    justify-content: center;
    margin: 3rem auto;
    width: 30rem;
}

.people {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: auto;
}

/* .link {

} */

.img {
    height: 27rem;
    width: auto;
}

.name {
    background: palevioletred;
    height: 10rem;
    width: 30rem;
}
