body {
    height: 100vh;
}

.container {
    align-items: center;
    /* background: blueviolet; */
    display: flex;
    height: 13rem;
    justify-content: center;
    margin: auto;
    width: 13rem;
}

.img {
    background: gold;
    height: 12rem;
    width: 12rem;
}
