@font-face{
    font-family: "maiden";
    src: url('./resources/fonts/maiden.ttf') format('truetype');
}

.opera{
    display: flex;
    justify-content: center;
    align-items: center;
}

audio {
    border: 0.25rem solid gold;
    margin: 1rem 0;
}

body {
    height: 100vh;
}

.container {
    align-items: center;
    display: flex;
    height: 30rem;
    justify-content: center;
    margin: 5rem auto;
    position: relative;
    width: 30rem;
}

.people {
    align-items: center;
    display: flex;
    justify-content: center;
    position: absolute;
}

.img {
    border: 1rem solid gold;
    height: 38rem;
    margin: 2rem auto;
    width: auto;
}

h1 {
    right: 0;
    position: absolute;
    top: 0;
    z-index: 1;
}

.name {
    bottom: 0;
    font-family: "maiden", san-serif;
    font-size: 6rem;
    height: 1rem;
    position: absolute;
    text-align: center;
    white-space: nowrap;
    z-index: 1;
}

