body {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0;
    height: 100vh;
    overflow: hidden;
    width: 100vw;
}

.image {
    background-image: url('./resources/img/living_room.png');
    background-repeat: no-repeat;
    background-size: contain;
    /* border: 1px solid black; */
    height: 100%;
    position: relative;
    width: 100%;
}

.button-container {
    height: 2rem;
    width: 25%;
    
}

.button {
    border: 1px solid black;
    bottom: 14.7rem;
    height: 0.5rem;
    position: absolute;
    right: 25.5rem;
    width: 1rem;
}
