@import "compass";
@import "partials/variables";
@import "partials/normalize";
@import "partials/base";
@import "partials/mixins";
@import "compass/css3";

$outline: rgba(#fff, .4);
html,
body {
    height: 100vh;
	// overflow: hidden;
    width: 100vw;
}

.day {
    background-image: url('../images/living_room_day.png');
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 0;
    height: 100%;
    position: absolute;
    width: 100%;

        .sidenav {
            align-items: center;
            background-color: #111;
            display: flex;
            flex-direction: column;
            font-size: 8rem;
            height: 100%;
            justify-content: center;
            line-height: 8rem;
            overflow-x: hidden;
            padding-top: 4rem;
            position: fixed;
            transition: 0.5s;
            width: 0;
            z-index: 1;
                a {
                    color: #818181;
                    display: block;
                    padding: 0 2rem 0.5rem 2rem;
                    text-decoration: none;
                    transition: 0.3s;
                    &:hover {
                        color: #f1f1f1;
                    }
                }
        
                .closebtn {
                    cursor: pointer;
                    font-size: 2.3rem;
                    // margin: 0 1.5rem 0 0;
                    position: absolute;
                    top: 0;
                    right: 1.5rem;
                }
        }

        .flex-nav {
            display: flex;
            justify-content: space-between;
            padding: 1rem 3rem;
                .logo {
                    background-image: url('../../resources/img/Logo-16x16-01.png');
                    height: 4.1rem;
                    width: 3.9rem;
                }
                .hamburger {
                    cursor: pointer;
                    font-size: 2rem;
                }
        }

        // Animation for button flickering on surge protector
        // https://codepen.io/geoffgraham/pen/jrWwWM
        // https://codepen.io/mandymichael/pen/aJLYVz
        #button {
            animation: flicker 3s linear infinite;
            background: red;
            border: 1px solid rgba(45,45,45,1);
            cursor: pointer;
            height: 0.5rem;
            margin: 0;
            position: absolute;
            transform: translate(-50%, -50%);
            -webkit-animation: flicker 3s linear infinite;
            -webkit-transform: skew(50deg);
            width: 1rem;
        }

        @keyframes flicker {
            0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {
                opacity: .99;
                text-shadow: -1px -1px 0 $outline, 1px -1px 0 $outline, -1px 1px 0 $outline, 1px 1px 0 $outline, 0 -2px 8px, 0 0 2px, 0 0 5px #ff7e00, 0 0 15px #ff4444, 0 0 2px #ff7e00, 0 2px 3px #000;
            }
            20%, 21.999%, 63%, 63.999%, 65%, 69.999% {
                opacity: 0.4;
                text-shadow: none;
            }
        }

        @-webkit-keyframes flicker {
            0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {
                opacity: .99;
                text-shadow: -1px -1px 0 $outline, 1px -1px 0 $outline, -1px 1px 0 $outline, 1px 1px 0 $outline, 0 -2px 8px, 0 0 2px, 0 0 5px #ff7e00, 0 0 15px #ff4444, 0 0 2px #ff7e00, 0 2px 3px #000;
            }
            20%, 21.999%, 63%, 63.999%, 65%, 69.999% {
                opacity: 0.4;
                text-shadow: none;
            }
        }

        // Animation for typing on laptop
        // https://codepen.io/Bojoer/pen/EZYgeO
        #typing {
            background: #333;
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 8rem;
            position: absolute;
            width: 11.5rem;
                p {
                    border-right: 0.15rem solid orange;
                    color: #fff;
                    font-family: monospace;
                    font-size: 1.25rem;
                    letter-spacing: 0.15rem;
                    // line-height: 1rem !important;
                    margin: 0 auto;
                    opacity: 0;
                    overflow: hidden;
                    white-space: nowrap;
                    width: 8rem;
                }

                p:nth-child(1) {
                    animation: 
                        type 5s steps(25, end),
                        blink 0.5s step-end infinite;
                    animation-fill-mode: forwards;
                    opacity: 0;
                    -webkit-animation: 
                        type 5s steps(25, end),
                        blink 0.5s step-end infinite;
                    -webkit-animation-fill-mode: forwards;
                    width: 8rem;
                }

                p:nth-child(2) {
                    animation:
                        type-final 5s steps(25, end),
                        blink 0.5s step-end infinite;
                    animation-delay: 5s;
                    animation-fill-mode: forwards;
                    opacity: 0;
                    padding: 0.1rem;
                    -webkit-animation:
                        type-final 5s steps(25, end),
                        blink 0.5s step-end infinite;
                    -webkit-animation-delay: 5s;
                    -webkit-animation-fill-mode: forwards;
                    width: 10rem;
                }
                
                @keyframes type {
                    0% { width: 0 }
                    1% { opacity: 1; }
                    99.9% { border-right: 0.15rem solid orange; }
                    100% {
                        opacity: 1; 
                        border: none;
                    }
                }

                @-webkit-keyframes type {
                    0% { width: 0 }
                    1% { opacity: 1; }
                    99.9% { border-right: 0.15rem solid orange; }
                    100% {
                        opacity: 1; 
                        border: none;
                    }
                }

                @keyframes type-final {
                    0% { width: 0; }
                    1% { opacity: 1; }
                    100% { opacity: 1; }
                }

                @-webkit-keyframes type-final {
                    0% { width: 0; }
                    1% { opacity: 1; }
                    100% { opacity: 1; }
                }
            
                @keyframes blink {
                    50% { border-color: transparent; }
                }

                @-webkit-keyframes blink {
                    50% { border-color: transparent; }
                }
        }
}

.night {
    background-image: url('../images/living_room_night.png');
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 0;
    height: 100%;
    position: absolute;
    width: 100%;

        .sidenav {
            align-items: center;
            background-color: #111;
            display: flex;
            flex-direction: column;
            font-size: 8rem;
            height: 100%;
            justify-content: center;
            line-height: 8rem;
            overflow-x: hidden;
            padding-top: 4rem;
            position: fixed;
            transition: 0.5s;
            width: 0;
            z-index: 1;
                a {
                    color: #818181;
                    display: block;
                    padding: 0 2rem 0.5rem 2rem;
                    text-decoration: none;
                    transition: 0.3s;
                    &:hover {
                        color: #f1f1f1;
                    }
                }
        
                .closebtn {
                    cursor: pointer;
                    font-size: 2.3rem;
                    // margin: 0 1.5rem 0 0;
                    position: absolute;
                    top: 0;
                    right: 1.5rem;
                }
        }

        .flex-nav {
            display: flex;
            justify-content: space-between;
            padding: 1rem 3rem;
                .logo {
                    background-image: url('../../resources/img/Logo-16x16-01.png');
                    height: 4.1rem;
                    width: 3.9rem;
                }
                .hamburger {
                    cursor: pointer;
                    font-size: 2rem;
                }
        }

        // Animation for button flickering on surge protector
        // https://codepen.io/geoffgraham/pen/jrWwWM
        // https://codepen.io/mandymichael/pen/aJLYVz
        #button {
            animation: flicker 3s linear infinite;
            background: red;
            border: 1px solid rgba(45,45,45,1);
            cursor: pointer;
            height: 0.5rem;
            margin: 0;
            position: absolute;
            transform: translate(-50%, -50%);
            -webkit-animation: flicker 3s linear infinite;
            -webkit-transform: skew(50deg);
            width: 1rem;
        }

        @keyframes flicker {
            0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {
                opacity: .99;
                text-shadow: -1px -1px 0 $outline, 1px -1px 0 $outline, -1px 1px 0 $outline, 1px 1px 0 $outline, 0 -2px 8px, 0 0 2px, 0 0 5px #ff7e00, 0 0 15px #ff4444, 0 0 2px #ff7e00, 0 2px 3px #000;
            }
            20%, 21.999%, 63%, 63.999%, 65%, 69.999% {
                opacity: 0.4;
                text-shadow: none;
            }
        }

        @-webkit-keyframes flicker {
            0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {
                opacity: .99;
                text-shadow: -1px -1px 0 $outline, 1px -1px 0 $outline, -1px 1px 0 $outline, 1px 1px 0 $outline, 0 -2px 8px, 0 0 2px, 0 0 5px #ff7e00, 0 0 15px #ff4444, 0 0 2px #ff7e00, 0 2px 3px #000;
            }
            20%, 21.999%, 63%, 63.999%, 65%, 69.999% {
                opacity: 0.4;
                text-shadow: none;
            }
        }

        // Animation for typing on laptop
        // https://codepen.io/Bojoer/pen/EZYgeO
        #typing {
            background: #333;
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 8rem;
            position: absolute;
            width: 11.5rem;
                p {
                    border-right: 0.15rem solid orange;
                    color: #fff;
                    font-family: monospace;
                    font-size: 1.25rem;
                    letter-spacing: 0.15rem;
                    // line-height: 1rem !important;
                    margin: 0 auto;
                    opacity: 0;
                    overflow: hidden;
                    white-space: nowrap;
                    width: 8rem;
                }

                p:nth-child(1) {
                    animation: 
                        type 5s steps(25, end),
                        blink 0.5s step-end infinite;
                    animation-fill-mode: forwards;
                    opacity: 0;
                    -webkit-animation: 
                        type 5s steps(25, end),
                        blink 0.5s step-end infinite;
                    -webkit-animation-fill-mode: forwards;
                    width: 8rem;
                }

                p:nth-child(2) {
                    animation:
                        type-final 5s steps(25, end),
                        blink 0.5s step-end infinite;
                    animation-delay: 5s;
                    animation-fill-mode: forwards;
                    opacity: 0;
                    padding: 0.1rem;
                    -webkit-animation:
                        type-final 5s steps(25, end),
                        blink 0.5s step-end infinite;
                    -webkit-animation-delay: 5s;
                    -webkit-animation-fill-mode: forwards;
                    width: 10rem;
                }
                
                @keyframes type {
                    0% { width: 0 }
                    1% { opacity: 1; }
                    99.9% { border-right: 0.15rem solid orange; }
                    100% {
                        opacity: 1; 
                        border: none;
                    }
                }

                @-webkit-keyframes type {
                    0% { width: 0 }
                    1% { opacity: 1; }
                    99.9% { border-right: 0.15rem solid orange; }
                    100% {
                        opacity: 1; 
                        border: none;
                    }
                }

                @keyframes type-final {
                    0% { width: 0; }
                    1% { opacity: 1; }
                    100% { opacity: 1; }
                }

                @-webkit-keyframes type-final {
                    0% { width: 0; }
                    1% { opacity: 1; }
                    100% { opacity: 1; }
                }
            
                @keyframes blink {
                    50% { border-color: transparent; }
                }

                @-webkit-keyframes blink {
                    50% { border-color: transparent; }
                }
        }
}










